.beers__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 20px;
    position: relative;
}

.beers__not-found {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    .mat-icon {
        font-size: 34px;
        height: 34px;
        width: 34px;
    }
    p {
        margin: 0;
    }
}

.beers__more-beers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    min-height: 36px;
    width: 100%;
    background-color: #ff4081;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    cursor: default;
}

.beers__btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
