<mat-toolbar color="primary">
    <div class="header__container">
        <div class="header__title"><h1>Beers</h1></div>

        <div class="header__aside-container">
            <ng-container *ngIf="favItemsAmount$ | async">
                <button
                    class="header__fav-btn"
                    mat-flat-button
                    color="primary"
                    [matBadge]="favItemsAmount$ | async"
                    (click)="openFavorites()"
                    matBadgeColor="accent"
                >Favourites
                </button>
            </ng-container>
        </div>

    </div>
</mat-toolbar>

