<mat-list-item class="beer__item">
    <mat-card class="beer__item-card">
        <mat-card-header class="beer__item-header">
            <mat-card-title>{{ beer.name }}</mat-card-title>
            <mat-card-subtitle>{{ beer.abv | currency: 'USD'}}</mat-card-subtitle>
        </mat-card-header>
        <div class="beer__item-content">
            <img
                class="beer__item-img"
                [src]="beer.image_url"
                [alt]="beer.name"
            >
            <mat-card-content class="beer__description">
                <p>{{ beer.description }}</p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-button (click)="showMoreInfo(beer)">MORE</button>
            <button
                mat-button
                (click)="toggleFavBtn(beer)"
                [ngClass]="{'beer__btn-dislike': favBeersIDs.includes(beer.id)}"
            >
                {{ favBeersIDs.includes(beer.id) ? 'REMOVE' : 'ADD' }}
            </button>
        </mat-card-actions>
    </mat-card>
</mat-list-item>
