.beer__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.beer__item-card {
    max-width: 400px;
    box-sizing: border-box;
}

.beer__item-header {
    height: 50px;
}

.beer__item-content {
    display: flex;
    gap: 20px;
}

.beer__item-img {
    max-width: 70px;
    width: 100%;
    height: 180px;
    padding-left: 16px;
    object-fit: contain;
}

.beer__description {
    display: flex;
    align-items: center;

    p {
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
}
